<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test14.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>test15.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>test19.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test20.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>test21.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>test22.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test23.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>test24.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>test25.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>test26.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>test27.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>test28.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>test29.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>test3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test30.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>test31.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>test4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>780907D61D979526001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780907ED1D97B7BC001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908021D97BC2B001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908171D97C137001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7809082C1D97C847001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908431D97E93C001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908581D992292001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7809086C1D9A0E31001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908801D9A1DA9001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908941D9A6AE8001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908A81D9A738C001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908BC1D9B58E6001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780908D01D9B5CC5001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7809090A1D9B9D0A001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7809091E1D9CC574001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780909321D9D1273001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>780909461D9D1843001CC982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814A9E71DB364320025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814A9FB1DB365BC0025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AA0F1DB366C00025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AA231DB36C810025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AA3A1DB36EB50025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AA4E1DB36FC20025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AAC61DB37A0A0025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AADA1DB37CFA0025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7814AB1F1DB37F1E0025F113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781DD77D1DAA22F60091D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781DD7941DAA2C5E0091D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781DD7A81DAA2EE90091D005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AFF53A1D92910A001FAD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AFF5611D92AB35001FAD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AFF5831D92ACF1001FAD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78FB94AF1DAD04E000619864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
